@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;700&display=swap');


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --text-color: #00aa00;
  --background: #111;
}

body {
  font-family: 'Roboto Mono', sans-serif;
  background-color: var(--background);
  color: #ccc;
  font-size: 18px;
  line-height: 1.6;
}

main{
  margin-top: 10vh;
}
h1 {
  color: var(--text-color);
  font-size: 50px;
  letter-spacing: -5px;
  margin-bottom: 20px;
}

h2 {
  color: var(--text-color);
}

h3 {
  margin-bottom: 10px;
}

ul {
  list-style-type: none;
}

a {
  color: var(--text-color);
  text-decoration: none;
}

p {
  margin: 20px 0;
}

nav {
  width: 30%;
}

nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav ul li {
  color: var(--text-color);
  cursor: pointer;
  font-size: 5vh;
  margin-bottom: -10vh;
}

.container {
  max-width: 100vh;
  margin: auto;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wb-body {
  background: var(--background);
  padding: 20px;
}

.hidden {
  display: none;
}

.cursor {
  font-weight: 700;
  animation: 1s blink step-end infinite;
}

@keyframes blink {
  from,
  to {
    color: transparent;
  }

  50% {
    color: var(--text-color);
  }
}

input{
  background-color:var(--background); 
  border: 2px solid var(--text-color);
  font-family: 'Roboto Mono', sans-serif;
  font-size: 18px;

}
.newsletter button{
  background-color:var(--background); 

}
.newsletter label{
  font-family: 'Roboto Mono', sans-serif;
  font-size: 30px;
  color: var(--text-color);
}

form {
  background-color: var(--background);
  display: block;
  color: var(--text-color);
}

.button{
  color: var(--text-color);
  border: 2px solid var(--text-color);
  font-family: 'Roboto Mono', sans-serif;
  font-size: 18px;
  color: var(--text-color);
  padding: 1vh 2vh;
}

.mc-field-group label{
  color: var(--text-color);
  font-family: 'Roboto Mono', sans-serif;
  font-size: 3vh;
}
